# this file is *not* meant to cover or endorse the use of travis, but rather to
# help confirm pull requests to this project.

dist: xenial  # Ubuntu 16.04

language: python

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37

install:
  - pip install -r requirements.txt
  - pip install tox

script: tox

notifications:
  email: false
