# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the data files
recursive-include data *

# Include the Requirements
include requirements.txt

# Exclude build configs
exclude *.yml